
.about-page {
    background-color: var(--white);
    font-family: 'Inter';
    padding: 50px;
}

.about-header-text {
    text-align: center;
    text-transform: capitalize;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 700;
}

.text-img-container {
    display: flex;
    justify-content: center;
}

.about-text-container {
    background-color: #383838;
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
    height: fit-content;
    max-width: 600px;
}

.text-title {
    margin-bottom: 20px;
    font-size: 3rem;
}

.about-body {
    line-height: 35px;
    text-align: justify;
    font-size: 1.2rem;
}

.about-img {
    width: 300px;
}
.about-img-mobile {
    display: none;
}


@media only screen and (max-width: 768px) {
    .about-page {
        padding: 50px 20px;
    }
    .text-img-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-text-container {
        margin-right: 0;
        max-width: 100%;
    }

    .about-img {
        display: none;
    }
    .about-img-mobile {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

