
.contact {
    display: flex;
    background: #151515;
    color: var(--White);
    font-family: 'Inter';
    justify-content: space-between;
    padding: 50px;
    height: 100vh;
}

.contact-us-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    justify-content: space-between;
}

.contact-us {
    font-size: 40px;
    color: #FEC203;
}

.follow-us {
    font-size: 24px;
    color: #CCCCCC;
    margin-bottom: 20px;
}

.social-icon-container {
    width: fit-content;
}

.social-icons {
    font-size: 30px;
    color: #F1F1F1;
    margin-right: 20px;
    cursor: pointer;
}

.copywrite {
    font-size: 18px;
    color: #CCCCCC;
}
.web3hub-copywrite {
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--White);
}

.send-request {
    margin-bottom: 10px;
    font-size: 40px;
    color: #CCCCCC;
}
.contact-us-description {
    margin-bottom: 50px;
    color: #CCCCCC;
    font-size: 1rem;
    text-align: justify;
}

.email-label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #CCCCCC;
}

.email-input {
    height: 70px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 8px;
    margin-bottom: 40px;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
}
.email-input:focus {
    outline: none;
}

.textarea-label {
    margin-bottom: 7px;
    color: #CCCCCC;
    font-size: 18px;
}
.textarea {
    margin-bottom: 20px;
    height: 250px;
    background-color: #F1F1F1;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    padding: 10px;
}
.textarea:focus {
    outline: none;
}

.send-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.send-btn {
    width: 120px; 
    padding: 10px;
    border: none;
    background: #FEC203;
    color: #151515;
    border-radius: 8px;
    height: 50px;
    font-size: 24px;
    font-family: 'Inter';
    cursor: pointer;
}
.mobile-copywrite {
    visibility: hidden;
}

.mobile-follow-us-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .contact {
        height: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        padding: 30px 20px;
    }

    .contact-us {
        text-align: center;
    }
    
    .follow-us {
        display: none;
    }
    .copywrite {
        display: none;
    }

    .send-request {
        font-size: 18px;
        text-align: center;
    }
    .contact-us-description {
        text-align: center;
        font-size: .7rem;
    }

    .email-label {
        font-size: 18px;
    }
    
    .email-input {
        height: 50px;
    }
    
    .textarea-label {
        font-size: 18px;
    }
    .textarea {
        height: 200px;
    } 
    
    .send-btn {
        max-width: 100px; 
        padding: 10px;
        height: 40px;
        font-size: 18px;
    }

    .mobile-copywrite {
        visibility: visible;
        font-size: 12px;
        color: #CCCCCC;
    }

    .follow-us-container {
        display: none;
    }
    .mobile-follow-us-container {
        display: block;
        margin-top: 50px;
    }
    .mobile-follow-us {
        font-size: 24px;
        color: #CCCCCC;
        margin-bottom: 20px;
    } 

    .mobile-social-icons {
        font-size: 24px;
        color: #F1F1F1;
        margin-right: 20px;
    }
}