
.faq {
    background-color: #151515;
    font-family: 'Inter';
    padding: 50px;
}

.faq-heading {
    margin-bottom: 84px;
    font-size: 48px;
    color: #FEC203;
}

.question-answer-section {
    display: flex;
    justify-content: space-between;
}
.image-container {
    width: 100%;
}

.faq-image {
    height: 400px; 
}

.question-answer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    display: flex;
    justify-content: space-between;
    background: #383838;
    color: #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}


@media only screen and (max-width: 768px) {
    .question-answer-section {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        display: none;
    }
    
    .faq-heading {
        margin-bottom: 50px;
        font-size: 30px;
        text-align: center;
    }

    .question {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding: 20px;
        font-size: 20px;
    }
}

