
.faq {
    background-color: #151515;
    /* color: var(--white); */
    font-family: 'Inter';
    padding: 50px;
    height: 100vh;
}

.faq-heading {
    margin-bottom: 84px;
    font-size: 48px;
    color: #FEC203;
}

.question-answer-section {
    display: flex;
    justify-content: space-between;
}
.image-container {
    /* background-color: red; */
    width: 100%;
}

.faq-image {
    height: 400px;
}

.question-answer-container {
    /* background-color: green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    display: flex;
    justify-content: space-between;
    background: #383838;
    color: #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}
/* 
.question > h1 {
    font-size: 1.3rem;
} */