
.footer {
    background: #151515;
    padding: 50px;
}

.footer-logo-container {
    display: flex;
    margin-bottom: 50px;
}
.first-logo-container {
    border-right: 2px solid #ccc;
    padding: 5px 20px 5px 0px;
    display: flex;
    align-items: center;
}

.first-logo {
    height: 50px;
}

.second-logo-container {
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
}
.second-logo {
    height: 50px;
}
.copy-footer {
    color: #ccc;
    font-family: 'Inter';
    font-size: 18px;
}
.footer-text-container {
    display: flex;
    justify-content: space-between;
    color: #ccc;
    font-family: 'Inter';
    font-size: 18px;
}
.web3hub-footer {
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 100px 20px 20px 20px;
        /* margin-top: 50px; */
    }
    .footer-text-container {
        font-size: 14px;
    }
}