
.home-page {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/Images/Background.svg') ;
    background-size: cover;
}

.home-text-container {
    height: 100%;
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    padding: 50px;
    /* background-color: red; */
    position: relative;
}

.coin-image {
    position: absolute;
    /* height: 100px; */
}
.bitcoin {
    top: 0;
    left: 0;
    height: 15%;
}
.tether {
    height: 30%;
}
.ethereum {
    top: 5%;
    left: 10%;
    height: 15%;
}
.dollar {
    top: 30%;
    right: 5%;
    height: 30%;
}

.home-md-text {
    text-align: center;
    color: #9C9C9C;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.home-lg-text {
    text-align: center;
    background: linear-gradient(98.4deg, #FFFFFF -36.01%, #8B4B00 110.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: capitalize;
    font-size: 4rem;
    margin-bottom: 40px;
    font-weight: 700;
}

.home-sm-text {
    color: #9C9C9C;
    text-align: center;
    font-size: 20px;
}



/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

    .home-lg-text {
        font-size: 40px;
    } 

    .home-sm-text {
        font-size: 16px;
    }
}