
.logo-container {
    margin-right: auto;
    background-color: #151515;
    border-radius: 8px;
}
.logo {
    height: 40px;
}
.nav-link-container {
    font-family: 'Inter';
    text-align: center;
}

a {
    text-decoration: none;
}

.nav-link-container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
}

.first-link-container {
    /* background-color: green; */
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
    color: #383838;
    margin: 0 25px;
    text-transform: uppercase;
    font-family: 'Inter';
}

.active-link {
    color: #FEC203;
}

.contact-link-container {
    margin-left: auto;
    display: flex;
    align-items: center;

}


.contact-link {
    background-color: #151515;
    border-radius: 8px;
    padding: 10px;
    color: #FFFFFF;
    margin-right: 0;
}

/* DRAWER */
.drawer-link {
    color: white;
    text-transform: uppercase;
}

.active-drawer-link {
    color: #FEC203;
}

.drawer-logo {
    height: 30px;
    margin-top: auto;
    margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .logo {
        height: 30px;
    }
}