
.nav-link-container {
    font-family: 'Inter';
    text-align: center;
}

a {
    text-decoration: none;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-family: 'Inter';
}


/* DRAWER */
.drawer-link {
    color: white;
}