

.services {
    padding: 50px;
    font-family: 'Inter';
}

.services-heading-container {
    text-align: center;
    margin-bottom: 50px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 50px;
    justify-content: space-around;
}


.each-service-container {
    text-align: center;
}

.each-service-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.each-service-description {
    font-size: 18px;
}


@media only screen and (max-width: 768px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media only screen and (max-width: 600px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}