@font-face {
  font-family: 'Inter';
  src: url(/public/Fonts/Inter/Inter-SemiBold.ttf);
}

:root {
  --white: #f5f5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}